@model TaskManagementApp.Models.Task

<h2 class="text-center mt-5">Edit task</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Tasks",
            method: FormMethod.Post,
            routeValues: new { id = Model.TaskId }))
            {
                @Html.HiddenFor(t => t.ProjectId, new {@Value=@Model.ProjectId})

                @Html.Label("Title", "Task Title")
                <br />
                @Html.EditorFor(m => m.TaskTitle, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.TaskTitle, null, new { @class = "text-danger" })
                <br />
                <br />

                @Html.Label("TaskContent", "Task Content")
                <br />
                @Html.TextArea("TaskContent", null, new { @class = "form-control summernote" })

                @Html.ValidationMessageFor(m => m.TaskContent, null, new { @class = "text-danger" })
                <br />
                <br />
             
                <div class="text-center">
                    <button class="btn btn-sm btn-success" type="submit">Edit task</button>
                </div>
            }
        </div>
    </div>
</div>