@{
    ViewBag.Title = "Index";
}

<h2 align="center">Displaying tasks</h2>
<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>


}

@* Search engine *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search tasks by name or content" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="card p-3">
@foreach (TaskManagementApp.Models.Task task in ViewBag.Tasks)
{
    <div class="card">
        @Html.Partial("TaskInfo", task)
        <div class="d-flex justify-content-between mb-2">
            <div>
                <a class="btn btn-outline-success mx-2" href="/Tasks/Show/@task.TaskId"><i class="bi bi-info-circle"></i> Info</a>
            </div>

            <div>
                <form method="post" action="/Tasks/Delete/@task.TaskId">
                    <button class="btn btn-outline-danger mx-2" type="submit"><i class="bi bi-trash"></i> Delete task</button>
                </form>
            </div>
        </div>
    </div>
    <br />
}
</div>


@* Paging the tasks *@
<div class="d-flex justify-content-center mt-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (ViewBag.lastPage > 0)
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">
                            @(
                                i
                                )
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <br />
                <div>No task found!</div>
            }
        </ul>
    </nav>
</div>

